# Домашнее задание

## Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [1]:
import pandas as pd

In [2]:
%%time

ratings = pd.read_csv('ml-25m/ratings.csv')
movies = pd.read_csv('ml-25m/movies.csv')

Wall time: 5.65 s

In [3]:
%%time

join = ratings.merge(movies, on='movieId', how='right')

Wall time: 4.57 s

In [4]:
top_movie = join[join['rating'] == 5.0]
top_movie_sorted = top_movie['title'].value_counts().sort_values(ascending = False)

print(f'Фильм с большим количеством оценки 5.0 {top_movie_sorted.keys()[0]}')

Фильм с большим количеством оценки 5.0 Shawshank Redemption, The (1994)

In [5]:
print(top_movie_sorted[:5])

Shawshank Redemption, The (1994)             39553
Pulp Fiction (1994)                          32169
Forrest Gump (1994)                          25918
Star Wars: Episode IV - A New Hope (1977)    25804
Matrix, The (1999)                           25482
Name: title, dtype: int64

## Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [6]:
data_baltic = pd.read_csv('power.csv')
data_baltic.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [7]:
data_baltic = data_baltic[(data_baltic['country']=='Latvia') \
                          | (data_baltic['country']=='Lithuania') \
                          | (data_baltic['country']=='Estonia') ]

data_baltic = data_baltic[(data_baltic['category']==4) \
                          | (data_baltic['category']==12) \
                          | (data_baltic['category']==21)]

data_baltic = data_baltic[(data_baltic['year'] >= 2005) | (data_baltic['year'] <= 2010)]

data_baltic = data_baltic[(data_baltic['quantity'] >= 0)]

total_quantity = sum(data_baltic['quantity'])

In [8]:
print(total_quantity)

970728.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
<br /> https://fortrader.org/quotes
<br /> https://www.finanz.ru/valyuty/v-realnom-vremeni

In [9]:
import io
import requests

In [10]:
dataframe = pd.read_html('https://www.finam.ru/quotes/')[0]
dataframe

,Unnamed: 0,Инструмент,Посл. сделка,% Изм. цены,Открытие,Макс.,Мин.,Закрытие,"Объем, шт.",Время обн.
0,NaN,Apple Inc.USA(BATS),121.53 $,4.41%,119.0400,121.9500,118.8000,116.4000,6 659 260,09.03.21 22:07
1,NaN,BTC-USD,53883.89 $,2.8%,54083.4200,54096.6600,53653.4600,52415.2300,NaN,09.03.21 22:07
2,NaN,Bank of AmericaUSA(BATS),36.9 $,-0.57%,36.3300,37.1500,35.8200,37.1100,2 739 158,09.03.21 22:07
3,NaN,Brent,67.49,-1.1%,68.1300,69.3300,67.3700,68.2400,260 922,09.03.21 22:07
4,NaN,ETH-USD,1821.08 $,-0.74%,1833.9200,1834.1400,1810.0000,1834.5800,NaN,09.03.21 22:07
5,NaN,Eur/UsdForex,1.1897 $,0.43%,1.1844,1.1916,1.1836,1.1846,NaN,09.03.21 22:07
6,NaN,RTS,148830 ₽,0.21%,148480.0000,149050.0000,148090.0000,148520.0000,55 112,09.03.21 22:07
7,NaN,Si,73971 ₽,0.05%,73950.0000,74079.0000,73948.0000,73932.0000,242 816,09.03.21 22:07
8,NaN,USDRUB_TOM,73.9 ₽,-0.41%,74.5000,74.5350,73.7775,74.2025,2 507 404 000,09.03.21 22:07
9,NaN,mini SandP-500*,3899,2.09%,3831.2500,3901.2500,3826.2500,3819.2500,2 198 363,09.03.21 22:07
10,NaN,ГМКНорНикMOEXПотенциал:+8%,22952 ₽,2.7%,22342.0000,23248.0000,22270.0000,22348.0000,792 239,09.03.21 22:07
11,NaN,Золото,1714.7,2.19%,1679.3000,1718.7000,1676.7000,1678.0000,273 905,09.03.21 22:07
12,NaN,Индекс МосБиржи,3478.72 ₽,1.89%,3426.4800,3491.1200,3426.3300,3414.1300,NaN,09.03.21 18:50
13,NaN,Индекс РТС,1481.85 ₽,2.38%,1450.7100,1489.6800,1448.6400,1447.4600,NaN,09.03.21 18:50
14,NaN,СбербанкMOEXПотенциал:+14%,285.74 ₽,2.97%,278.8000,286.3800,277.5600,277.5000,71 714 050,09.03.21 22:07

In [12]:
url = requests.get("https://fortrader.org/quotes")
table = pd.read_html(io.StringIO(page.content.decode('UTF-8')), flavor=['lxml'])
response = table[3]
response.head(10)

,Название,Цена,Изменение,Изменение(%),Обновлено
0,ВТБ Акции ВТБ,0.038400,+0.000810,2.154828,NaN
1,Газпром Акции газпрома,232.14,+5.14,2.260000,NaN
2,Лукойл Акции Лукойл,6 300.0,+64.0,1.000000,NaN
3,Роснефть Акции Роснефти,570.80,+9.80,1.750000,NaN
4,Сбербанк Акции Сбербанка,285.60,+8.10,2.920000,NaN
5,Сургутнефтегаз Акции Сургутнефтегаза,36.150,+1.170,3.345000,NaN
6,Норникель Акции Норникель,22 950,+602,3.000000,NaN
7,Аэрофлот Акции Аерофлота,69.56,+0.28,0.400000,NaN
8,Северсталь Акции Северсталь,1 317.40,-21.60,-1.610000,NaN
9,Транснефть Акции Транснефть,143 900,-1 750,-1.000000,NaN